version: '2.1'

services:
  wifi-connect:
    image: balenablocks/wifi-connect
    network_mode: host
    privileged: true
    labels:
      io.balena.features.dbus: '1'
    environment:
      - DBUS_SYSTEM_BUS_ADDRESS=unix:path=/host/run/dbus/system_bus_socket
